/*defaults*/
.accessibility-plugin_wrapper h1, .accessibility-plugin_wrapper h2, .accessibility-plugin_wrapper h3, .accessibility-plugin_wrapper h4, .accessibility-plugin_wrapper h5, .accessibility-plugin_wrapper h6 {margin: 0;padding: 0;font-weight: normal;font-family: Arial, Helvetica, sans-serif;}.accessibility-plugin_wrapper p, .accessibility-plugin_wrapper th, .accessibility-plugin_wrapper td, .accessibility-plugin_wrapper li, .accessibility-plugin_wrapper dd, .accessibility-plugin_wrapper dt, .accessibility-plugin_wrapper ul, .accessibility-plugin_wrapper ol, .accessibility-plugin_wrapper blockquote, .accessibility-plugin_wrapper q, .accessibility-plugin_wrapper acronym, .accessibility-plugin_wrapper abbr, .accessibility-plugin_wrapper a, .accessibility-plugin_wrapper input, .accessibility-plugin_wrapper select, .accessibility-plugin_wrapper textarea {margin: 0;padding: 0;font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;}.accessibility-plugin_wrapper blockquote {margin: 1.25em;padding: 1.25em;}.accessibility-plugin_wrapper q {font-style: italic;}.accessibility-plugin_wrapper acronym, .accessibility-plugin_wrapper abbr {cursor: help;border-bottom: 1px dashed;}.accessibility-plugin_wrapper small {font-size: .85em;}.accessibility-plugin_wrapper big {font-size: 1.2em;}.accessibility-plugin_wrapper a, .accessibility-plugin_wrapper a:link, .accessibility-plugin_wrapper a:visited, .accessibility-plugin_wrapper a:active, .accessibility-plugin_wrapper a:hover {text-decoration: underline;}.accessibility-plugin_wrapper img {border: none;}.accessibility-plugin_wrapper table {margin: 0;padding: 0;border: none;}.accessibility-plugin_wrapper form {margin: 0;padding: 0;display: inline;}.accessibility-plugin_wrapper label {cursor: pointer;} .accessibility-plugin_wrapper *, *:before, *:after {box-sizing: border-box;}

.accessibility-plugin_wrapper {
  position: fixed;
  top: 45%;
  height: auto;
  width: 280px;
  border: 1px solid #4157AF;
  padding: 10px;
  box-sizing: border-box !important;
  left: -280px;
  transition: left 0.5s, right 0.5s;
  background: #FFF;
  z-index: 1;
}

.accessibility-plugin_wrapper.open {
  left: 0;
}

.accessibility-plugin_wrapper > .accessibility-plugin_tab {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
  top: -1px;
  right: -40px;
}

.accessibility-plugin_wrapper > .accessibility-plugin_tab > .accessibility-plugin_img {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #4157AF !important;
}

.accessibility-plugin_wrapper > .accessibility-plugin_header {
  text-align: center;
}

.accessibility-plugin_wrapper > .accessibility-plugin_control {
  cursor: pointer;
  overflow: hidden;
  margin: 10px 0;
}

.accessibility-plugin_wrapper > .accessibility-plugin_control > .accessibility-plugin_img {
  display: block;
}

.accessibility-plugin_wrapper > .accessibility-plugin_control > .accessibility-plugin_text {
  display: block;
  line-height: 22px;
}

.accessibility-plugin_wrapper[dir="rtl"] {
  left: initial;
  right: -280px;
}

.accessibility-plugin_wrapper[dir="rtl"].open {
  right: 0px;
}

.accessibility-plugin_wrapper[dir="rtl"] .accessibility-plugin_tab {
  right: initial;
  left: -40px;
}

.accessibility-plugin_wrapper[dir="ltr"] > .accessibility-plugin_control > .accessibility-plugin_img {
  float: right;
}

.accessibility-plugin_wrapper[dir="ltr"] > .accessibility-plugin_control > .accessibility-plugin_text {
  float: left;
}

.accessibility-plugin_wrapper[dir="rtl"] > .accessibility-plugin_control > .accessibility-plugin_img {
  float: left;
}

.accessibility-plugin_wrapper[dir="rtl"] > .accessibility-plugin_control > .accessibility-plugin_text {
  float: right;
}

body.high-contrast .accessibility-plugin_wrapper {
  background: #000000 !important;
}

body.high-contrast .accessibility-plugin_wrapper img {
  background: #FFF;
}
