/*defaults*/
.accessibility-wrapper h1, .accessibility-wrapper h2, .accessibility-wrapper h3, .accessibility-wrapper h4, .accessibility-wrapper h5, .accessibility-wrapper h6 {margin: 0;padding: 0;font-weight: normal;font-family: Arial, Helvetica, sans-serif;}.accessibility-wrapper p, .accessibility-wrapper th, .accessibility-wrapper td, .accessibility-wrapper li, .accessibility-wrapper dd, .accessibility-wrapper dt, .accessibility-wrapper ul, .accessibility-wrapper ol, .accessibility-wrapper blockquote, .accessibility-wrapper q, .accessibility-wrapper acronym, .accessibility-wrapper abbr, .accessibility-wrapper a, .accessibility-wrapper input, .accessibility-wrapper select, .accessibility-wrapper textarea {margin: 0;padding: 0;font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;}.accessibility-wrapper blockquote {margin: 1.25em;padding: 1.25em;}.accessibility-wrapper q {font-style: italic;}.accessibility-wrapper acronym, .accessibility-wrapper abbr {cursor: help;border-bottom: 1px dashed;}.accessibility-wrapper small {font-size: .85em;}.accessibility-wrapper big {font-size: 1.2em;}.accessibility-wrapper a, .accessibility-wrapper a:link, .accessibility-wrapper a:visited, .accessibility-wrapper a:active, .accessibility-wrapper a:hover {text-decoration: underline;}.accessibility-wrapper img {border: none;}.accessibility-wrapper table {margin: 0;padding: 0;border: none;}.accessibility-wrapper form {margin: 0;padding: 0;display: inline;}.accessibility-wrapper label {cursor: pointer;} .accessibility-wrapper *, *:before, *:after {box-sizing: border-box;}

.accessibility-wrapper {
  position: fixed;
  top: 45%;
  height: auto;
  width: 280px;
  border: 1px solid #4157AF;
  padding: 10px;
  box-sizing: border-box !important;
  left: -280px;
  transition: left 0.5s, right 0.5s;
  background: #FFF;
}

.accessibility-wrapper.open {
  left: 0px;
}

.accessibility-wrapper > .accessibility-tab {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -1px;
  right: -40px;
}

.accessibility-wrapper > .accessibility-tab > img {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #4157AF !important;
}

.accessibility-wrapper > h3 {
  text-align: center;
}

.accessibility-wrapper > .control {
  cursor: pointer;
  overflow: hidden;
  margin: 10px 0;
}

.accessibility-wrapper > .control > img {
  display: block;
}

.accessibility-wrapper > .control > span {
  display: block;
  line-height: 22px;
}

.accessibility-wrapper[dir="rtl"] {
  left: initial;
  right: -280px;
}

.accessibility-wrapper[dir="rtl"].open {
  right: 0px;
}

.accessibility-wrapper[dir="rtl"] .accessibility-tab {
  right: initial;
  left: -40px;
}

.accessibility-wrapper[dir="ltr"] > .control > img {
  float: right;
}

.accessibility-wrapper[dir="ltr"] > .control > span {
  float: left;
}

.accessibility-wrapper[dir="rtl"] > .control > img {
  float: left;
}

.accessibility-wrapper[dir="rtl"] > .control > span {
  float: right;
}

/*  ACCESSIBILITY STYLING */
body.enlarge-font {
  font-size: 150% !important;
}

/* TODO: What todo here? */
/*body.low-contrast {}*/

body.high-contrast {
  background: #000000 !important;
  color: rgb(30, 255, 35) !important;
}

body.high-contrast .accessibility-wrapper {
  background: #000000 !important;
}

body.high-contrast .accessibility-wrapper img {
  background: #FFF;
}

body.high-contrast {
  background: #000000 !important;
  color: rgb(30, 255, 35) !important;
}


body.underline-links a {
  text-decoration: underline !important;
}

/* From https://dev.webonomic.nl/how-to-disable-css-transforms-transistions-and-animations */
body.disable-animations * {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

body.readable-font * {
  font-family: initial !important;
}
